  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */

body {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  margin: 0; --- 
  padding: 0;
  /* --- Типографика --- */
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  /* --- Оформление --- */
  background-color: #f2f2f2;
  /* --- Анимация --- */
  /* --- Разное --- */  
}

a {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  text-decoration: none;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.main-navigation {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  color: #000000;
  /* --- Оформление --- */
  background-color: #ffffff;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.site-navigation {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  list-style: none;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.site-navigation a {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  color: #000000;
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */
}

.site-navigation a:hover,
.site-navigation a:focus {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  color: #81b3d2;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.site-navigation a:active {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  color: #b2b2b2;
  /* --- Анимация --- */
  /* --- Разное --- */
}


/* --- ??? ---*/
/* --- ??? ---*/
/* --- ??? ---*/

.site-navigation a .current {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  color: #766357;
  /* --- Анимация --- */
  /* --- Разное --- */
}

/* --- ??? ---*/
/* --- ??? ---*/
/* --- ??? ---*/

.main-greating {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  background-image: url(../img/bg-welcome.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.main-greating::after {
  content: '';
  background-image: url(../img/welcome-mask.svg);
  background-repeat: no-repeat;
}

.greating-slogan {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-size: 21px;
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */
}

/* ----------- ADVANTAGES ----------- */

.advantages-slogan {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-weight: 400;
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */
}

.advantages-list {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  list-style: none;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.other-advantage-list {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  padding: 0;
  /* --- Типографика --- */
  /* --- Оформление --- */
  list-style: none;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.advantage-item,
.other-advantage-item {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  text-align: center;
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */
}

.advantage-item h3,
.other-advantage-item h3 {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-size: 21px;
  line-height: 21px;
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */
}

.advantage-item p,
.other-advantage-item p,
.advantage-item-number {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-weight: 400;
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */
}

.advantage-item:nth-child(1),
.advantage-item:nth-child(3) {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  color: #ffffff;
  /* --- Оформление --- */
  background-color: #81b3d2;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.advantage-item:nth-child(4),
.advantage-item:nth-child(5),
.advantage-item:nth-child(6) {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  background-color: #eeeeee;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.other-advantage-item {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  background-color: #ffffff;
  /* --- Анимация --- */
  /* --- Разное --- */
}

/* ----------- ADVANTAGES END ----------- */

.hotel-search {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  text-align: center;
  /* --- Оформление --- */
  background-color: #ffffff;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.hotel-search-slogan {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-size: 30px;
  line-height: 36px;
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */
}

.hotel-search-summary {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  /* --- Оформление --- */
  /* --- Анимация --- */
  /* --- Разное --- */
}

.hotel-search a {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-size: 21px;
  line-height: 26px;
  /* --- Оформление --- */
  color: #ffffff;
  background-color: #766357;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.hotel-search a:hover,
.hotel-search a:focus {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  background-color: #604e43;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.hotel-search a:active {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  color: #857871;
  background-color: #503e33;
  /* --- Анимация --- */
  /* --- Разное --- */
}

/* ----------- SEARCH FORM ----------- */

.search-form {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  /* --- Оформление --- */
  background-color: #ffffff;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.form-search-button {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  /* --- Оформление --- */
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.form-search-button:hover,
.form-search-button:focus {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  /* --- Оформление --- */
  border: none;
  background-color: #669ec0;
  color: #ffffff;
  /* --- Анимация --- */
  /* --- Разное --- */
}

.form-search-button:focus {
  /* --- Позиционирование --- */
  /* --- Блочная модель --- */
  /* --- Типографика --- */
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  /* --- Оформление --- */
  border: none;
  background-color: #5496bd;
  color: #88b6d1;
  /* --- Анимация --- */
  /* --- Разное --- */
}

/* ----------- SEARCH FORM END ----------- */