/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */

html {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  font-family: "PT Sans", "Arial", sans-serif;
  /* Оформление */
  /* Анимация */
  /* Разное */
}

.main-greating {
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  background-image: url(../img/bg-welcome.jpg);
  background-repeat: no-repeat;
  /* Анимация */
  /* Разное */
}